<style>
body {
  background: url("https://s3-ap-northeast-1.amazonaws.com/danspot-bucket/coding-beginner1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div class="row" style="background-color: rgba(255,255,255,0.5); margin-top: 7em;">
  <div class="col s12">
    <h1 class="center" style="margin: 1em 0 0.5em 0;">벤처창업 웹 프로그래밍</h1>
    <h3 class="center">아이디어 공유</h3>
      <div class="center" style="margin: 4em;">
      <% if user_signed_in? %>
        <a href="/ideas/board" class="waves-effect waves-light btn-large black white-text">Start</a>
      <% else %>
        <%= link_to "로그인", new_user_session_path, class: "waves-effect waves-light btn black" %> &nbsp 
        <%= link_to "회원가입", new_user_registration_path, class: "waves-effect waves-light btn black" %>
      <% end %>
      
    </div>
  </div>
</div>